:root{
    --primary-color: #13005A;
    --other-color: #03C988;
    --byad: #ffffff;

}
*{
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}
a:visited{
    color: var(--byad);
}
/* width */
::-webkit-scrollbar {
    width: 0.8em;
    border-radius: 0.8em;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.8em;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 0.8em;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1c3094;
  }

