:root{
    --primary-color: #2D2727;
    /*--primary-color: #13005A;*/
    --other-color: #413543;
    --byad: #ffffff;
    --gris-description: #272525;

}
*{
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    
}
a:visited{
    color: var(--byad);
}
/* width */
::-webkit-scrollbar {
    width: 0.8em;
    border-radius: 0.8em;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6e858e;
    border-radius: 0.8em;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 0.8em;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--other-color);
  }
body{
  background: linear-gradient(360deg, #bfc0c2 , white); 
}
.vide{
  
  display: flex;
  height: 8em;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
