.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    background: linear-gradient(270deg, var(--other-color), var(--primary-color));
    height: 6em;
    width: 100%;
    z-index: 999;
}


.header-left{
    margin-left: 2%;
    display: flex;
    align-items: center;
    color: #9DD6DF;

}
.header-right{
    width: 40%;
    display: flex;
    gap: 10%;
    flex-direction: row;

}
.header-left p{
    font-size: xx-large;
}
.header-right p{
    transition: 125ms;
    cursor: pointer;
    color: var(--byad);
}
.header-right p:hover{
    scale: 1.4;
}
