@keyframes slide-from-top {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    background: linear-gradient(270deg, var(--other-color), var(--primary-color));
    height: 6em;
    width: 100%;
    z-index: 998;
    animation-name: slide-from-top;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.header-left{
    margin-left: 2%;
    display: flex;
    align-items: center;
    color: #9DD6DF;

}
.header-right{
    width: 40%;
    display: flex;
    gap: 10%;
    flex-direction: row;

}
.header-left p{
    font-size: xx-large;
}
.header-right p{
    transition: 125ms;
    cursor: pointer;
    color: var(--byad);
}
.header-right p:hover{
    scale: 1.4;
}
@media (max-width:394px) {
    .header{
        height: 6em;
        


        flex-direction: row;
    }
    .header-right{
        width: 40%;
        font-size: medium;
        margin-right: 2em;
        justify-content: end;
    }
    
}