@keyframes slide-from-nowhere-to-left {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-from-nowhere-to-right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
.icon-bs{
    width: 100%;
    margin-bottom: 5%;
    cursor: pointer;
    transition: 125ms;
}
.icon-bs:hover{
  scale: 1.1;
}
.our-services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5em;
}
.rent,.buy{
    width: 40%;
    justify-self: center;
    align-self: center;
}
.grid-title{
    text-align: center;
    font-size: x-large;
    color: var(--primary-color);
    font-weight:600;
    margin-bottom: 3%;
    cursor: pointer;
    transition: 125ms;
}
.grid-title:hover{
  scale: 1.4;
}
.buy {
    animation-name: slide-from-nowhere-to-right;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  
.rent {
    animation-name: slide-from-nowhere-to-left;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
.sect-info{
  color: var(--gris-description);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 8%;
  margin-bottom: -8%;
}
